<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %>
  <title>HomePage</title>
</head>
  <%- include("./partials/nav") %>
<body>
   <%- include("./partials/script") %>
</body>

</html>